:root{
    --white:rgb(209, 203, 203);
    --dark: #0A0A0A;
    --blue: #005e7f;
    --dark-x: #111111;
    --dark-xx: #222222;
    --light: #ffffff;
    --primary: #FF6079;
    --primary-x: #FE3051;
    --muted: #e9e6e6;
    --orange: rgba(255, 68, 0, 0.877);
    --grey:rgba(153, 151, 151, 0.836);
    --grey-hover:rgba(235, 235, 235, 0.959);



    --height-navbar:12vh;
    --height-footer:18vh;

}


body{

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding-top: calc(var(--height-navbar) );
    margin:0;
    min-height: 100vh;
    min-width: 100vw;

}

.font-white {
    color: var(--white);
  }
  .font-gray {
    color: var(--grey);
  }
  .font-gray:hover{
    color:var(--grey-hover);
  }
