:root{

      box-sizing: border-box;/* Para que el modelo de caja se calcule a partir del borde */

    --white:rgb(209, 203, 203);
    --dark: #0A0A0A;
    --blue: #005e7f;
    --dark-x: #111111;
    --dark-xx: #222222;
    --light: #ffffff;
    --primary: #FF6079;
    --primary-x: #FE3051;
    --muted: #e9e6e6;
    --orange: rgba(255, 68, 0, 0.877);
    --grey:rgba(153, 151, 151, 0.836);
    --grey-hover:rgba(235, 235, 235, 0.959);



    --height-navbar:12vh;
    --height-footer:18vh;

}


body{

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding-top: calc(var(--height-navbar) );
    margin:0;
    min-height: 100vh;
    min-width: 100vw;

}

.font-white {
    color: var(--white);
  }
  .font-gray {
    color: var(--grey);
  }
  .font-gray:hover{
    color:var(--grey-hover);
  }
/* Estilos propios del paginador */
.pagination {
  height: 36px;
  margin: 18px 0;
  color: #6c58bf;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: 0;
  color: #ffffff;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
  display: inline;
  color: var(--orange);
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  color: var(--orange);
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}

.pagination a:hover,
.pagination .active a {
  background-color: var(--primary-x);
  color: #ffffff;
}

.pagination a:focus {
  background-color: var(--primary-x);
  color: #ffffff;
}

.pagination .active a {
  color: #ffffff;
  cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}

.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pager {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
  text-align: center;
  color: var(--orange);
  *zoom: 1;
}

.pager:before,
.pager:after {
  display: table;
  content: "";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
  color: var(--orange);
}

.pager a {
  display: inline-block;
  padding: 5px 14px;
  color: var(--orange);
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.pager a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

.pager .next a {
  float: right;
}

.pager .previous a {
  float: left;
}

.pager .disabled a,
.pager .disabled a:hover {
  color: #999999;
}
.pagination > li > a {
  background-color: white;
  color: var(--orange);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: var(--orange) !important;
  border: solid 1px var(--orange) !important;
}

.pagination > .active > a:hover {
  background-color: var(--orange) !important;
  border: solid 1px var(--orange);
  color: var(--dark);
}
.btn-color {
  background-color: var(--orange);
  color: whitesmoke;
}
.btn-black {
  background-color: var(--dark-x);
  color: whitesmoke;
}
